body {
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column;



  }

  h1{
  	font-family: monospace;
  }


  .contactList li{

    font-size: 20px;
    display: inline;
    padding-left: 15px;
  }

  .section{
  	margin:auto;
  }