body {
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column; 
    font-family: monospace;
  }

  h1, h2{
  	text-align: center;
  }

  .contactList li{

    font-size: 20px;
    display: inline;
    padding-left: 15px;
  }

  .profile{
    text-align: center;
  }

  .section{
  	margin: auto;
    font-family: monospace;

  }

p{
  text-align: justify;
}

ul.projectList{
  list-style-type: square;
}

.column{   
  float:left;
}

.column.side{
  
}

.column.middle{
  margin: auto;
  width: 15%; 
  opacity: 30%;
}

.textEntry{
  width: 70%;
  margin: auto;
  font-size: 20px;
  resize: none;
  height: 150px;
}

.confirm{
  margin:auto;
  width: 20%;
  
}

.column.paragraph{
  margin: auto;
  width: 30%; 
  opacity: 30%;
}

canvas{
  margin: auto;
}